{% load static %}
<!DOCTYPE html>
	<html>
		<head>
		<title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Snippet - BBBootstrap</title>
		<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" >
		</head>
			<body>
				
				<div class="vertical-menu">
					<a href="admin/" class="active">Home</a>
					<a href="{% url 'index' %}">index</a>
					<a href="{% url 'tiba' %}">tiba</a>
					<a href="{% url 'redha' %}">redha</a>
					<a href="{% url 'mimi' %}">mimi</a>
					<a href="store/mimi/">mimi</a>
				</div>
				
				<img src="{% static 'img/mim-logo.png' %}" alt="شعار مدونة" width="300px">
				{% block content %}{% endblock %}
			
			
			<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
			<script src="{% static 'js/popper.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
			<script src="{% static 'js/fontawesome-all.min.js' %}"></script>
			
			</body>
	</html>